* {
  padding: 0;
  margin: 0;
}
*:focus {
  outline: none;
}
body {
  background-color: #000;
  font-family: 'Luckiest Guy', serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  position: relative;
}

[class^='theme-'] {
  display: flex;
  width: 100%;
  justify-items: center;
}

.full-wrapper {
  width: 100vw;
  height: 100vh;
}

.variable-font-h1 {
  position: absolute;
  z-index: 99;
  font-optical-sizing: auto;
  animation: goofyEffect 10s infinite linear;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  font-style: normal;
  opacity: 1;
  line-height: 5vw;
  -webkit-user-select: none; /* Safari */
  user-select: none; /* Standard syntax */
}

@keyframes goofyEffect {
  0%,
  25%,
  50%,
  51%,
  75%,
  100% {
    font-variation-settings: 'wdth' 100, 'wght' 300;
    font-size: 5vw;
  }
  13%,
  38%,
  63%,
  88% {
    font-variation-settings: 'wdth' 125, 'wght' 900;
    font-size: 8vw;
  }
  0% {
    transform: translate(-100%, 20vh);
  }
  50% {
    transform: translate(100vw, 20vh);
  }
  51% {
    transform: translate(100vw, 70vh);
  }
  100% {
    transform: translate(-100%, 70vh);
  }
}

.color-toggles {
  position: absolute;
  top: 16px;
  right: 016px;
  display: grid;
  gap: 0;
  z-index: 101;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  button {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: 0;
    background-color: red;
    &.green {
      background-color: green;
    }
    &.purple {
      background-color: purple;
    }
    &.blue {
      background-color: blue;
    }
    &.pink {
      background-color: pink;
    }
  }
}

.fixed-input-holder {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 56px;
  width: 100%;
  span {
    color: #fff;
  }

  .fixed-input-box {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 28px;
    border-radius: 8px;
    display: inline-flex;
    width: fit-content;

    .correct-text,
    .problem-text {
      font-size: 42px;
      margin-bottom: 24px;
      text-align: center;
    }

    .correct-text {
      font-size: 24px;
      margin-bottom: 0;
      margin-top: 24px;
      span {
        font-size: 36px;
        display: inline-block;
        margin: 0 8px;
      }
    }
    .fixed-input {
      font-family: 'Luckiest Guy', sans-serif;
      width: 320px;
      padding: 14px 8px 8px;
      font-size: 18px;
      background-color: transparent;
      border-radius: 4px;
      line-height: 1;
      z-index: 999999;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    input::placeholder {
      font-style: italic;
      opacity: 0.4;
    }
    .submit-button {
      font-family: 'Luckiest Guy', serif;
      margin-left: 12px;
      padding: 14px 16px 8px;
      border: 0;
      color: white;
      font-size: 18px;
      cursor: pointer;
    }
  }
}

.theme-red {
  .variable-font-color {
    color: red;
  }
  .fixed-input-box {
    border: 1px solid red;
    .fixed-input {
      border: 1px solid red;
      color: red;
    }
    input::placeholder {
      color: red;
    }
    .submit-button {
      background-color: red;
    }
  }
  .full-wrapper {
    background-color: rgba(255, 0, 0, 0.1);
  }
}

.theme-blue {
  .variable-font-color {
    color: blue;
  }
  .fixed-input-box {
    border: 1px solid blue;
    .fixed-input {
      border: 1px solid blue;
      color: blue;
    }
    input::placeholder {
      color: blue;
    }
    .submit-button {
      background-color: blue;
    }
  }
  .full-wrapper {
    background-color: rgba(0, 0, 255, 0.1);
  }
}

.theme-pink {
  .variable-font-color {
    color: pink;
  }
  .fixed-input-box {
    border: 1px solid pink;
    .fixed-input {
      border: 1px solid pink;
      color: pink;
    }
    input::placeholder {
      color: pink;
    }
    .submit-button {
      color: #000;
      background-color: pink;
    }
  }
  .full-wrapper {
    background-color: rgba(255, 192, 203, 0.1);
  }
}

.theme-purple {
  .variable-font-color {
    color: purple;
  }
  .fixed-input-box {
    border: 1px solid purple;
    .fixed-input {
      border: 1px solid purple;
      color: purple;
    }
    input::placeholder {
      color: purple;
    }
    .submit-button {
      background-color: purple;
    }
  }
  .full-wrapper {
    background-color: rgba(128, 0, 128, 0.1);
  }
}

.theme-green {
  .variable-font-color {
    color: green;
  }
  .fixed-input-box {
    border: 1px solid green;

    .fixed-input {
      border: 1px solid green;
      color: green;
    }
    input::placeholder {
      color: green;
    }
    .submit-button {
      background-color: green;
    }
  }
  .full-wrapper {
    background-color: rgba(0, 128, 0, 0.1);
  }
}

@media screen and (max-width: 768px) {
  .fixed-input-holder {
    padding: 0;
    top: 80px;
  }

  .fixed-input-holder {
    .fixed-input-box {
      .fixed-input {
        width: 120px;
      }
    }
  }
  h1 {
    display: none;
  }
}
