* {
  padding: 0;
  margin: 0;
}
*:focus {
  outline: none;
}
body {
  background-color: #200000;
  font-family: 'Sour Gummy', sans-serif;
  overflow: hidden;
}

.variable-font-h1 {
  position: absolute;
  z-index: 99;
  color: red;
  font-optical-sizing: auto;
  animation: goofyEffect 10s infinite linear;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  font-style: normal;
  opacity: 1;
  line-height: 5vw;
  -webkit-user-select: none; /* Safari */
  user-select: none; /* Standard syntax */
}

@keyframes goofyEffect {
  0%,
  25%,
  50%,
  51%,
  75%,
  100% {
    font-variation-settings: 'wdth' 100, 'wght' 300;
    font-size: 8vw;
  }
  13%,
  38%,
  63%,
  88% {
    font-variation-settings: 'wdth' 125, 'wght' 900;
    font-size: 5vw;
  }
  0% {
    transform: translate(-100%, 10vh);
  }
  50% {
    transform: translate(100vw, 10vh);
  }
  51% {
    transform: translate(100vw, 76vh);
  }
  100% {
    transform: translate(-100%, 76vh);
  }
}

.fixed-input {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 200px;
  padding: 8px;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid red;
  border-radius: 4px;
  z-index: 999999;
  color: red;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
